
<nav>
    <img src="https://s3.us-east-2.amazonaws.com/wjs-accounting-project/images/wjs-white-logo.svg">
    <div id="menu-btn-wrapper">
        <div id="menu-btn" onclick="toggle()">
            <div class="animate-btn"></div>
            <div class="animate-btn"></div>
        </div>
    </div>

    <span id="desktop-menu">
        <%=link_to 'HOME', home_path, {id: "nav-home"}%>
        <%=link_to 'SERVICES', services_path,{id:"nav-services"}%>
        <%=link_to 'PAYROLL', payroll_path, {id:"nav-payroll"}%>
        <%=link_to 'FORMS', forms_path, {id:"nav-forms"}%>
        <%=link_to 'ABOUT US',about_us_path, {id:"nav-about"}%>
        <%=link_to 'CONTACT US', contact_us_path, {id:"nav-contact"}%>
    </span>
    <div id="mobile-menu" >
    <ul>
        <li><%=link_to "Home", home_path%></li>
        <li><%=link_to "Services",services_path%></li>
        <li><%=link_to "Payroll", payroll_path%></li>
        <li><%=link_to "Forms", forms_path%></li>
        <li><%=link_to "About", about_us_path%></li>
        <li><%=link_to "Contact", contact_us_path%></li>
    </ul>
</div>
</nav>



