
<nav>
    <div id="logo-wrapper">
        <div id="logo-image"></div>
        <div id="logo-text">WASHINGTON J.SANCHEZ &amp; ASSOCIATES, LLC</div>
    </div>

    <span id="menu">
        <div></div>
        <div></div>
        <div></div>
    </span>

    <span id="desktop-navbar">
        <%=link_to 'HOME', home_path%>
        <%=link_to 'SERVICES', services_path%>
        <%=link_to 'PAYROLL', payroll_path%>
        <%=link_to 'FORMS', forms_path%>
        <%=link_to 'ABOUT US',about_us_path%>
        <%=link_to 'CONTACT US', contact_us_path%>
    </span>

</nav>


